body {
    background-color: rgb(240, 235, 229);
    font-family: 'Merriweather', serif;
}

.container {
    margin: 0 auto;
    padding: 0;
}

.row {
    text-align: center;
}

#header-img {
    border-radius: 10px;
}

#country {
    height: 80%;
    width: 70%;
}

@media screen and (max-width: 768px) {
    #country {
        width: 220px;
        height: 190px;
    }
}