body {
    background-color: rgb(34, 30, 30);
    margin-top: 40px;
    background-image: url("../images/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: azure;
    font-family: 'Merriweather', serif;
    min-height: 100vh;
}

.container {
    margin: 0 auto;
    padding: 0;
}

.row {
    text-align: center;
    margin-bottom: 80px;
}

#header-img {
    border-radius: 10px;
    width: 350px;
    height: 200px;
}

#country {
    width: 350px;
    height: 250px;
}

.start {
    margin: 20px 0;
}

.scores {
    margin: 10px 0;
    border: 2px;
    border-style: double;
    padding-bottom: 50px;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .4));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .4));
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, .4));
    border-radius: 25px;
}

@media screen and (max-width: 990px) {
    #country {
        width: 300px;
        height: 220px;
    }
}

@media screen and (max-width: 767px) {
    #country {
        width: 150px;
        height: 120px;
    }
    #header-img {
        width: 300px;
    }
    .row {
        margin-right: 0;
    }
}